<div class="header">
</div>

<div class="container">

  <div class="row">
    <div class="col-md-9">
      <ul class="media-list">
        <li class="media">
          <button class="btn btn-lg btn-primary" ui-sref="detail">
            <i class="glyphicon glyphicon-plus"></i>
          </button>
        </li>
        <li class="media" ng-repeat="item in vm.items | orderBy: 'timestamp': true">
          <a class="media-left" ui-sref="detail({id: item.id})">
            <img ux-holder="holder.js/64x64">
          </a>
          <div class="media-body">
            <h4 class="media-heading" >
              <button class="btn btn-xs btn-danger" ng-click="vm.remove(item)">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
              <a ui-sref="detail({id: item.id})" ng-bind="item.title || '<知名不具>'"></a>
            </h4>
            <span class="text-muted">
              <small ng-bind="item.timestamp | date"></small>
            </span>
            <p ng-bind="item.markdown"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>

</div>
